* { 
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  margin:0;
  padding:0;
}

* {
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  z-index: -1;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  display: block;
  transition-timing-function: cubic-bezier(.2, .6, .4, 1);
}

/**********************************************************/

#navilogo{
  height: 25%;
  position: absolute;
  left: 33%;
}

#naviheading{
  font-size: 50px;
  color:white;
  font-family: "Yantramanav",sans-serif;
  position:absolute;
  top: 37%;
  left: 21%;
  letter-spacing: 10px;
  font-weight: 100;
}

.sidenav {
  font-weight: 100;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
  transition-timing-function: cubic-bezier(.1, .3, 0.15, 1);
}

.sidenav a {
    text-decoration: none;
    font-size: 19px;
    color: white;
    transition: 0.3s;
  float:right;
  letter-spacing: 3px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#navilinks{
  font-family: "Lato",sans-serif;
  position: absolute;
  top: 48%;
  float: left;;
  left: 43%;
}

.links{
  overflow: hidden;
  position:absolute;
  padding-top: 20px;
  line-height: 35px;
}

.links:after{
  border-bottom: 1px solid white;
  position: absolute;
  width: 0%;
  content: '';
  transition: 0.5s;
  left: 0;
  bottom: 0;
}

.links:hover::after{
  width: 100%;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu{
  height:60px;
  width:60px;
  border: 2px solid white;
  border-radius: 60px;
  font-size:40px;
  cursor:pointer;
  position: absolute;
  top: 5%;
  right: 55px;
  z-index: 5;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#menu:hover .bar{
  background-color: #f1f1f1;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  
}

#pagepiling{
  transition: margin-left .4s;
  transition-timing-function: cubic-bezier(.1, .3, 0.15, 1);
}

/**********************************************************/
#contactInfo{
  width: 100%;
  height: 15%;
  font-size: 8px;
  position: absolute;
  bottom: 0;
  left: 50px;
  font-family: "Lato",sans-serif;
  letter-spacing: 4px;
  color: white;
}

h2{
  font-weight: 100;
  margin-top: 40px;
  padding-left: 100px;
}

.fa{
  color:white;
  font-size: 10%;
  position: absolute;
  top: 40px;
  cursor:pointer;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fa-facebook{
  left:200px;
}

.fa-youtube-play{
  left: 235px;
}

.fa-envelope-open{
  left: 280px;
}

.fa-facebook:hover{
  color: lightgrey;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fa-youtube-play:hover{
  color: lightgrey;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fa-envelope-open:hover{
  color: lightgrey;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}







/**********************************************************/

.container {
    display: inline-block;
    cursor: pointer;
  justify-content:center;
  margin: auto;
  vertical-align: middle;
  align-items: center;
  
  
}

#barCont{
  height:100%;
  width:100%;
  padding: 12px 10px 11px 14px;
  
}

.bar1, .bar2, .bar3 {
  
  margin: auto;
    width: 27px;
    height: 2px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px) ;
    transform: rotate(-45deg) translate(-7px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -6.2px) ;
    transform: rotate(45deg) translate(-7px, -6.2px) ;
  
}




/**********************************************************/

.back-img{
  top: -9999px;
  bottom: -9999px;
  left:0;
  margin: auto;
}

.img2{
  top: -9700px;
}

.img3{
  top: -9650px;
}

.img4{
  top: -10280px;
}

/**********************************************************/

/*#page1 {
  background-image: url(photos/14380153_1046926042092986_6683837706259614007_o.jpg);
}*/


/*#page2 {
  background-image: url(photos/7706127_7706127-R2-004-0A.jpg)
}*/

/*#page3 {
  background-image: url(photos/18076926_1270659633052958_4677450651536787884_o copy.jpg)
}*/

/*#page4 {
  background-image: url(photos/Copy of IMG_3526.JPG)
}*/

.page {
  width: 100%;
  height: 100vh;
 /* the important one*/
  background-attachment: fixed;
  overflow: hidden;
  background: white;
}

.pages {
  background-size: cover;
  /* the important one*/
  background-attachment: fixed; 
  
}

#logo{
  height:25%;
  width: auto;
  position: absolute;
  text-align: center;
  left: 12%;
  top: 10%;
  z-index: 2;
}

/**********************************************************/

.layer {
  height: 100%;
  width: 38%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.9);
  opacity: 0;
  z-index: 1;
}

.animation-heading{
  font-family: "Yantramanav", sans-serif;
  font-size: 400%;
  position: absolute;
  top: 15%;
  left: 5%;
  width: 38%;
  z-index: 2;
  
}

p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 38%;
  padding-right: 7%;
  z-index: 2;
  line-height: 40px;
}

h1, p{
 letter-spacing: 3px;
}

h1.animation-heading1{
  top:42%;
  left: 6%;
  text-align: left;
}

p.animation-heading1{
  top:60%;
  left: 4.0%;
  text-align: center;
}




/**********************************************************/
/*animation element sliding left*/


*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.layer.slide-left {
  opacity: 0;
  -moz-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  -moz-transform: translate(-300px, 0px);
  -webkit-transform: translate(-300px, 0px);
  -o-transform: translate(-300px, 0px);
  -ms-transform: translate(-300px, 0px);
  transform: translate(-300px, 0px);
}

.animation-logo.slide-left {
  
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(.1, .3, 0.15, 1);
}

.animation-heading.slide-left {
  
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(.1, .3, 0.15, 1);
}

.animation-paragraph{
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.15, 1);
}


.animation-element1.slide-left.in-view, .animation-heading1.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.animation-element2.slide-left.in-view, .animation-heading2.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.animation-element3.slide-left.in-view, .animation-heading3.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.animation-element4.slide-left.in-view, .animation-heading4.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.img1.in-view{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img2.in-view{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img3.in-view{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img4.in-view{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

