* { 
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  font-family: 'Open Sans',sans-serif;
  color: white;
  margin:0;
  padding:0;
}

*{
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/*This still works!!!*/
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body{
  margin:0;
  
}

#naviList{
  
  width: 100%;
  padding: 10px 0;
  margin: 0px;
  position: absolute;
  top: 85%;;
  overflow: hidden;
  text-align: center;
}

.navigate{
  display: inline;
  padding: 0px;
  margin: 0px 75px;
  float: none;
  font-weight: 500;
}

.nav_link{
  text-decoration: none;
  position: relative;
}

.nav_link:after{
  border-bottom: 1px solid white;
  position: absolute;
  width: 0%;
  content: '';
  transition: 0.5s;
  left: 0;
  bottom: 0;
}

.nav_link:hover::after{
  width: 100%;
}

.pages{
  
}

#page1{
  top:0;
  left:0;
}

#page2{
  position:relative;
  height: 850px;
  width: 100%;
}

.photo{
  margin-top: -10px;
  position: relative;
  filter: brightness(50%);
  width: 100%;
  z-index: -1;  
}



.intro{
  text-align: left;
  position: absolute;
  
}

#intro{
  font-size: 750%;
  font-weight: 500;
  top:20%;
  left: 18%;
}


#Events{
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 55px;
  top: 5%;
}

#eventBoxes{
  display: flex;
  justify-content: space-between;
  height: 75%;
}

#food, #social, #karaoke{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  color: black;
  top: 10%;
  text-align: center;
  width: 23%;
  height: 50%;
  margin: auto;
  overflow: hidden;
  
}

#foodphoto{
  position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  max-height: 100%;
  filter: brightness(70%);
}

#foodTitle{
  position: absolute;
  width: 100%;
  top: 45%;
  color: whitesmoke;
}