* { 
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  font-family: 'Open Sans',sans-serif;
  color: white;
  margin:0;
  padding:0;
}

*{
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/*This still works!!!*/
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body{
  margin:0;
}

@font-face {
    font-family: UNISANS;
    src: url('fonts/unisansfree/Uni Sans Heavy.otf');
}

/********************************************************/

#naviList{
  
  width: 100%;
  padding: 10px 0;
  margin: 0px;
  position: absolute;
  top: 85%;;
  overflow: hidden;
  text-align: center;
}

.navigate{
  display: inline;
  padding: 0px;
  margin: 0px 75px;
  float: none;
  font-weight: 500;
}

.nav_link{
  text-decoration: none;
  position: relative;
}

.nav_link:after{
  border-bottom: 1px solid white;
  position: absolute;
  width: 0%;
  content: '';
  transition: 0.5s;
  left: 0;
  bottom: 0;
}

.nav_link:hover::after{
  width: 100%;
}

/********************************************************/

.pages{
  
}

#page1{
  background-image: url('photos/14380153_1046926042092986_6683837706259614007_o.jpg');
  min-height: 900px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page2{
  position:relative;
  height: 850px;
  width: 100%;
}

#page3{
  position: relative;
  background-image: url('photos/17966215_1270647966387458_8435115631044933184_o.jpg');
  min-height: 1500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page4{
  position:relative;
  height: 750px;
  width: 100%;
}

#page5{
  position: relative;
  background: linear-gradient(black, transparent), url('photos/18077299_1270651123053809_1517508865951383266_o.jpg'); 
  min-height: 1500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/********************************************************/

.photo{
  margin-top: -10px;
  position: relative;
  filter: brightness(50%);
  width: 100%;
  z-index: -1;  
}

/********************************************************/

.intro{
  font-family: "UNISANS";
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 750%;
  font-weight: 500;
  top:45%;
}

/********************************************************/
/********************************************************/

#Events{
  font-family: "UNISANS";
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 55px;
  top: 5%;
   overflow: hidden;
}

#Events:before,
#Events:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

#eventBoxes{
  display: flex;
  justify-content:space-between;
  height: 75%;
}

#food, #social, #meeting{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  color: black;
  top: 10%;
  text-align: center;
  width: 23%;
  height: 50%;
  margin: auto;
  overflow: hidden;
}

/********************************************************/

#foodphoto, #socialphoto, #meetingphoto{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: 100%;
  filter: brightness(70%);
}

#foodTitle, #socialTitle, #meetingTitle{
  position: absolute;
  width: 100%;
  top: 45%;
  color: whitesmoke;
  z-index: 1000;
  transition: .5s ease;
}

#foodP, #socialP, #meetingP{
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/********************************************************/

.overlayf {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(198,12,48,.85);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
#food:hover .overlayf {
  height: 100%;
}

#food:hover #foodTitle{
  transform: translate(0%, -400%);
  -ms-transform: translate(0%, -400%);
}

/********************************************************/

.overlaym{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.85);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

#meeting:hover .overlaym {
  height: 100%;
}

#meeting:hover #meetingTitle{
  transform: translate(0%, -400%);
  -ms-transform: translate(0%, -400%);
}

/********************************************************/

.overlays{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,52,120,.85);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

#social:hover .overlays {
  height: 100%;
}

#social:hover #socialTitle{
  transform: translate(0%, -400%);
  -ms-transform: translate(0%, -400%);
}

/********************************************************/
/********************************************************/

#CSphoto{
  width: 100%;
  position: relative;
  z-index: -1;  
}

#CStitle{
  position: absolute;
  top: 15%;
  left: 7%;
  font-family: "Pinyon Script",cursive;
  font-size: 100px;
  font-weight: 800;
}

#CSparagraph{
  position: absolute;
  font-family: "Pinyon Script",cursive;
  font-size: 20px;
  font-weight: 100;
  top: 23%;
  left: 5%;
  width: 30%;
}

/********************************************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
  margin: auto;
  background-color: rgb(0,0,0);
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/********************************************************/
/********************************************************/

#gajoks{
  position: absolute;
  top:0;
  left:0;
  width: 50%;
  height: 65%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}

#bbbs{ 
  position:absolute;
  top: 35%;
  left: 50%;
  width: 50%;
  height: 65%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 26%, 0 100%, 100% 100%, 100% 0);
}

#Gphotos{
  position:absolute;
  top: -20%;
  filter: brightness(100%);
}

#Bphotos{
  position:absolute;
  top: -20%;
  left: -90%;
  filter: brightness(100%);
  
}

#Glayer{
  background-color: rgba(198,12,48,.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Blayer{
  background-color: rgba(0,52,120,.2);
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

#Gparagraph{
  position: absolute;
  top:72%;
  left:5%;
  width: 40%;
  height: 35%;
  text-align: center;
  color: black;
}

#Bparagraph{
  position: absolute;
  top:10%;
  left:60%;
  width: 30%;
  height: 35%;
  text-align: center;
  color: black;
}

/********************************************************/
/********************************************************/

#AUphotos{
  position:fixed;
  width:100%;
}

#AUtitle{
  font-family: "UNISANS";
  position: absolute;
  width:100%;
  top: 5%;
  text-align: center;
  font-size: 50px;
  overflow: hidden;
  
}

#AUtitle:before,
#AUtitle:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.headers:before {
    right: 0.5em;
    margin-left: -50%;
}
.headers:after {
    left: 0.5em;
    margin-right: -50%;
}










