* { 
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  font-family: 'Open Sans',sans-serif;
  color: white;
}

body{
  margin:0;
  
}

h1{
  margin: centered;
}

#naviList{
  
  width: 100%;
  padding: 10px 0;
  margin: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  text-align: center;
}

.navigate{
  display: inline;
  padding: 0px;
  margin: 0px 50px;
  float: none;
  font-weight: 500;
}

.nav_link{
  text-decoration: none;
  position: relative;
}

.nav_link:after{
  border-bottom: 1px solid white;
  position: absolute;
  width: 0%;
  content: '';
  transition: 0.5s;
  left: 0;
  bottom: 0;
}

.nav_link:hover::after{
  width: 100%;
}

.photo{
  position: absolute;
  filter: brightness(50%);
  top:0;
  left:0;
  width:100%;
  z-index: -1;
  
}

#intro{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top:40%;
  font-size: 250%;
}


