* { 
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  margin:0;
  padding:0;
}

* {
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  z-index: -1;
}

/**********************************************************/
/* The side navigation menu */
.sidenav {
  font-weight: 100;
    height: 100%; /* 100% Full-height */
    width: 0%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 17; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    float:right;
    letter-spacing: 3px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


/*Menu Button Styling*/
/*********************************************************/

.menu-container {
  display: inline-block;
  cursor: pointer;
  justify-content:center;
  margin: auto;
  vertical-align: middle;
  align-items: center; 
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 20;
}

.bar {
  background-color: white;
  margin: auto;
    width: 30px;
    height: 1px;
    margin: 7px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2.5px, 1px) ;
    transform: rotate(-45deg) translate(-3.3px, 3.7px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6.5px) ;
    transform: rotate(45deg) translate(-7px, -7.5px) ;
  
}

/*Navigation Content*/
/*********************************************************/
#logodiv{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

#naviheading{
  width: 500px;
  color:white;
  font-family: "Yantramanav",sans-serif;
  position:absolute;
  top: 37%;
  left: 36%;
  letter-spacing: 10px;
  font-weight: 100;
}

#navilinks{
  font-family: "Lato",sans-serif;
  font-weight: 100;
  position: absolute;
  top: 50%;
  float: left;;
  left: 46%;
}


.links{
  overflow: hidden;
  position:absolute;
  padding: 0px;
  line-height: 35px;
}

.links:after{
  border-bottom: 1px solid white;
  position: absolute;
  width: 0%;
  content: '';
  transition: 0.5s;
  left: 0;
  bottom: 0;
}

.active-link:after{
  width: 100%;
}

.links:hover::after{
  width: 100%;
}


/*Contact Info*/
#contactInfo{
  width: 30%;
  margin: 0% auto;
  font-size: .6vw;
  font-family: "Lato",sans-serif;
  letter-spacing: 4px;
  color: white;
}

#contact-head{
  position: absolute;
  bottom: 125px;
}

h2{
  font-weight: 100;
  margin-top: 40px;
}

.fa{
  border: 0px solid transparent;
  color:white;
  font-size: 10%;
  position: absolute;
  bottom: 2%;
  cursor:pointer;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fa-facebook{
  margin-left: 140%;
}

.fa-youtube-play{
  margin-left: 180%;
}

.fa-envelope-open{
  margin-left: 210%;
}

.fa-facebook:hover{
  color: lightgrey;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fa-youtube-play:hover{
  color: lightgrey;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fa-envelope-open:hover{
  color: lightgrey;;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}


#pagepiling{
  transition: margin-left .5s cubic-bezier(.1, .3, 0.15, 1);;
}

/**********************************************************/
img.back-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.back-img {
    min-width: 100%;
    min-height: 0;
    height: 100%;;
    width: auto;
    left: 0%;
    margin-left: -75%;;   /* 50% */
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left:-9999px;
    right: -9999px;
    margin: auto;
  }
}

/*


.back-img{
  top: -9999px;
  bottom: -9999px;
  left:-9999px;
  right: -9999px;
  margin: auto;
  width: 75%;
  max-width: 500px;
  border-radius: 15px;
  vertical-align: middle;
  position: absolute;
}

.img2{
  top: -9999px;
}
*/

.img3{
  top: -1000px;
}

.img4{
  top: px;
}


/**********************************************************/

.page{
  width: 100%;
  height: 100vh;
 /* the important one*/
  background-attachment: fixed;
  overflow: hidden;
  background: white;
}

.side-content{
  position: absolute;
  display: inline-block;
  left:62%;
  background: rgba(0,0,0,.75);
  width: 38%;
  height: 100vh;
}

.CONTENT{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#hello{
  display: block;
  z-index:5;
  position:absolute;
  width: 150px;
  margin: 0 auto;
  top: 15%;
  left: 0;
  right: 0;
}


/**********************************************************/
.animation-heading{
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  color: whitesmoke;
  font-size: 400%;
  z-index: 2;
  font-weight: 100;
}

.animation-heading1, .animation-heading2, .animation-heading3, .animation-heading4{
  position: relative;
  top: 35%;
}

.animation-heading1{
  top:75%;
}



p {
  text-align: center;
  padding: 5px 15px;
  font-family: "Lato", sans-serif;
  color: whitesmoke;
  font-size: 15px;
  z-index: 2;
  line-height: 40px;
  font-weight: 300;
}

.animation-link{
  position: absolute;
  left: 0%;
  right: 0%;
  margin: auto;
  margin-top: 155px;
  text-decoration: none;
  cursor: pointer;
  top: 35%;
  margin-top: 155px;
  padding: 10px 15px;
  width: 100px;
  font-family: "Lato", sans-serif;
  color: whitesmoke;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  border: .1px solid whitesmoke;
  border-radius: 25px;
  transition: .1s;
}

.animation-link:hover{
  background: rgba(255,255,255,.50);
  color: black;
  
}

.animation-heading, p{
  width: 100%;
}



/**********************************************************/
/*animation element sliding left*/


*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.animation-logo.slide-left {
  
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 0ms;
  transition-delay: 25ms;
  transition-timing-function: cubic-bezier(.1, .3, 0.15, 1);
}

.animation-heading.slide-left {
  
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 100ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(.1, .3, 0.15, 1);
}

.animation-paragraph{
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 200ms;
  transition-delay: 50ms;
  transition-timing-function: cubic-bezier(0, 0, 0.15, 1);
}

.animation-link{
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition-delay: 200ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0, 0, 0.15, 1);
}


.animation-element1.slide-left.in-view, .animation-heading1.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.animation-element2.slide-left.in-view, .animation-heading2.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.animation-element3.slide-left.in-view, .animation-heading3.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.animation-element4.slide-left.in-view, .animation-heading4.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/********************************************************/


/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1700px) {
  
  .title{
    font-size: 7vw;
  }
  
  .description{
    font-size: 1.3vw;
  }
  
  #contact-head{
  position: absolute;
  bottom: 75px;
}
  
  
  #naviheading{
    font-size: 3vw;
    left: 28%;
    
  }
  
   #navilogo{
    width: 25vh;
    left: 30%
  }
  
  #hello{
    width: 20vh;
  }
  
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 1100px)  {
  
 
  
  #naviheading{
    font-size:3vw;
    left: 25%; 
  }
  
  #navilogo{
    width: 25vh;
    left: 30%
  }
  
  
  #hello{
    width: 20vh;
    top: 10%;
  }

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  
  .side-content{
    width:100%;
    left: 0%;
  }
  
   
  
  .animation-heading{
    font-size: 10vw;
  }
  
  p{
    font-size: 3vw;;
  }

  #contactInfo{
    font-size:.8vw;
    margin: 0 40%;
  }
  
  .links{
    font-size: 2vw;
  }
  
  #navilinks{
    left: 40%;
    margin: 0 7%;
  }
  
  #navilogo{
    width: 125px;
    left: 55%;
  }
  
  #naviheading{
    font-size: 4vw;
    left: 37%;
  }
  
  #contact-head{
  position: absolute;
    bottom: 15px;
    margin-bottom: 50px;
  }
  
  
  #hello{
    width: 20vh;
  }
}
  
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {  
  
  .animation-link{
    margin-top: 27%;
    height: 30px;
    padding: 7px;
  }
  


 #naviheading{
    margin: -3% -7%;
    font-size: 5vw;
  }
  
  #contactInfo{
    font-size:2vw;
    margin: 0 25%;
  }
  
  #contact-head{
    bottom: calc(25px);
  }
  
  #navilogo{
    width: 100px;
    left: 33%;
    top: 5%;
    margin: 0 20%;
  }
  
  #navilinks{
    left: 47.5%;
    margin: -7% -2%;
    font-size: 2.5vw;
  }
  
  .bar{
    z-index: 200;
  }
  
  
  #hello{
    width: 20vh;
  }
 
}

@media screen and (max-height: 450px) {
    #navilogo {position: absolute; top: 10px; left: 70px;}
  #contactInfo{
    position:absolute;
   bottom: -50px;
  }
}
